---
- name: Configure Backend Servers
  hosts: backends
  become: true
  roles:
    - backend

- name: Configure Frontend Load Balancer
  hosts: frontend
  become: true
  vars:
    
    backend1_ip: "{{ hostvars[groups['backends'][0]].ansible_default_ipv4.address }}"
    backend2_ip: "{{ hostvars[groups['backends'][1]].ansible_default_ipv4.address }}"
    backup_ip:   "{{ hostvars[groups['backends'][2]].ansible_default_ipv4.address }}"
  roles:
    - frontend