---
- name: Install Nginx
  yum:
    name: nginx
    state: present
    update_cache: yes

- name: Start and Enable Nginx
  service:
    name: nginx
    state: started
    enabled: true

- name: Deploy Nginx Reverse Proxy Config
  template:
    src: nginx_frontend.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Restart nginx